
/* <!-- GOOGLE FONTS------ --> */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');


/* VARIABLES DE COLORES */
:root {
    --mustard: #E4B352;
    --orange: #E19600;
    --white: #F8F8F8;
    --grey: #DBDBDB;
    --black: #1F2120;

}


/* SELECTORES GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #ffefef;
    
}

/* ---DESCRIPCIÓN HIRONOS--- */
.descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    color: var(--black);
}

.descripcion-contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    height: 90%;
    gap: 0;
}

.descripcion-texto {
    padding: 1em 5em 1em 1em;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.descripcion-texto b {
    background-color: var(--white);
    font-weight: 600;
}

.descripcion-texto i {
    background-color: var(--white);
} 

.descripcion-titulo {
    font-size: 3.5em;
    margin-bottom: 10px;
    background-color: var(--white);
    font-family: 'Courier Prime';
    transition: color 0.3s ease-in-out;
    line-height: 1em;
}

.descripcion-titulo:hover {
    color: var(--orange);
}

.descripcion-titulo b {
    font-weight: bold;
    background-color: var(--white);
}

.descripcion-parrafo {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 0;
    background-color: var(--white);
    font-family: 'Geist';
}

.descripcion-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--white);
}

.descripcion-imagen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: var(--white);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.descripcion-imagen img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

@media (max-width: 800px) {
    .descripcion-contenido {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        width: 90%;
        height: 75%;    
    }

    .descripcion-texto {
        text-align: center;
        padding: 1em;
        align-items: center;
        margin-bottom: 0;
    }

    .descripcion-titulo {
        text-align: center;
        color: var(--orange);
    }

    .descripcion-imagen {
        padding: 2em;
    }

    .descripcion-imagen img {
        width: 100%;
        height: auto;
        background-color: var(--white);
    }
}
