
/* <!-- GOOGLE FONTS------ --> */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');


/* VARIABLES DE COLORES */
:root {
    --mustard: #E4B352;
    --orange: #E19600;
    --white: #F8F8F8;
    --grey: #DBDBDB;
    --black: #1F2120;

}


/* SELECTORES GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* SECTION 6 STUDY*/

#form-contacto {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mustard);
}

#form-contacto > div {
    height: 85%;
    width: 80%;
    max-width: 900px;
    margin: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--black);
    border-radius: 15px;
}

#form-contacto > div > figure {
    height: 100%;
    width: auto;
    margin-bottom: 0;
}

#form-contacto > div > figure > img {
    height: 100%;
    width: auto;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    object-fit: cover;
}

#form-contacto > div > div {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#form-contacto > div > div > h2 {
    font-family: "Fuzzy Bubbles", serif;
    font-weight: 700;
    color: var(--white);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

#form-contacto .texto__contacto p {
    color: var(--white);
    font-family: "Geist", serif;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}


/* FORMULARIO */

#form-contacto form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

#form-contacto form > input {
    width: 90%;
    background-color: transparent;
    border: none;
    color: var(--white);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    border-bottom: 1px solid var(--white);
    letter-spacing: 0.15rem;
}

#form-contacto form > input::placeholder {
    color: var(--white);
    transition: 0.2s ease-in-out;
    outline: none;
}

#form-contacto form > input:focus {
    color: var(--mustard);
    outline: none;
}

#form-contacto form > input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    display: none;
}

#submit {
    border-radius: 5px;
    border: none;
    height: 2.7rem;
    width: 16rem;
    background-color: var(--mustard);
    color: var(--black);
    font-family: "Geist", serif;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    transition: 0.3s ease-in-out;
}

#submit:hover {
    background-color: var(--orange);
    color: var(--white);
}

.formulario__incidencias > input:not(:first-child){
    margin-top: 1.15rem;
}

.modal__contacto:not(.modal-content) {
    cursor: pointer;
}

.modal__contacto > .modal-dialog > .modal-content{
    background: none;
    border: none;
    cursor: default;
}

@media only screen and (max-width: 1000px) {
    /* FORMULARIO */

    .formulario__incidencias {
        margin-top: 0.7rem;
    }

    input::placeholder {
        font-size: 1rem;
    }

    #form-contacto {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--mustard);
        padding: 0;
        margin: 0;
    }

    #form-contacto > div {
        height: 85%;
        width: 80%;
        max-width: 900px;
        margin: 3rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        background-color: var(--black);
        border-radius: 15px;
    }

    #form-contacto > div > figure > img {
        height: auto;
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0;
        object-fit: cover;
        border-top-left-radius: 10px;
    }

}

@media only screen and (max-width: 500px) {
    
    #form-contacto > div {
        margin: 1rem;
        width: 100%;
    }

    #form-contacto > div > div > h2 {
        font-size: 1.3rem;
    }

    input::placeholder {
        font-size: 0.8rem;
    }
    
    #submit {
        width: 150px;
    }
}